{{input value=selected.label readonly=true}}

<i>s</i>
{{input value=query}}
<label>
  {{filteredContent.firstObject.label}}
</label>
<i {{action 'revert'}}>clear</i>

<ol class='list'>
  {{#each filteredContent as |entry|}}
    <li {{action 'select' entry on='click'}}>{{entry.label}}</li>
  {{/each}}
</ol>
