{{#unless listVisible}}
  {{input value=selected.label readonly=true action='showList' on='focus-in'}}
{{else}}
  {{input value=query action='quickSelect' on='insert-newline' classNames='keep-drop-down'}}
  <label class='preview'> {{preview}} </label>
{{/unless}}

{{#if (and selected showRevert)}}
  <i class='revert keep-drop-down' {{action 'revert'}}>x</i>
{{/if}}

<ol class='drop-down-list' hidden={{if listVisible false true}}>
  {{#each filteredContent as |entry|}}
    <li class={{if entry.children 'keep-drop-down'}} {{action 'select' entry on='click'}}>
      <label>
        {{entry.label}}
      </label>
      {{#if entry.children}}
        <i>n</i>
      {{/if}}
    </li>
  {{else}}
    <li>
      nothing found for '{{query}}'
    </li>
  {{/each}}
</ol>
