{{input value=selected.label readonly=true}}

<i>s</i>
{{input value=query action='quickSelect' on='insert-newline'}}
<label> {{preview}} </label>
<i {{action 'revert'}}>clear</i>

<ol class='list'>
  {{#each filteredContent as |entry|}}
    <li {{action 'select' entry on='click'}}>
      <label>
        {{entry.label}}
      </label>
      {{#if entry.children}}
        <i>n</i>
      {{/if}}
    </li>
  {{else}}
    <li>
      nothing found for '{{query}}'
    </li>
  {{/each}}
</ol>
